script(type='text/javascript', src='javascripts/users.js')
script(type='text/javascript', src='javascripts/cards.js')
script(type='text/javascript', src='javascripts/board.js')

script(type='text/javascript')
  $(function(){
    window.board = new Board();
    board.set({title: 'Boardello of Awesome', me: new User({name: '#{user}', id: '#{user}'}) });

    var boardView = new BoardView({ model: board });
    $('body')
      .data('user-id', #{user.id})
      .append(boardView.render().el)
  });
