script(type='text/javascript', src='javascripts/card.js')
script(type='text/javascript', src='javascripts/cards.js')
script(type='text/javascript', src='javascripts/board.js')

script(type='text/javascript')

  var board = new Board();

  board.set({title: 'Boardello of Awesome'})

  var boardView = new BoardView({
    model: board,
    id: 'boardview-' + board.id
  });

  Networking.start();

