script(type='text/javascript', src='javascripts/users.js')
script(type='text/javascript', src='javascripts/cards.js')
script(type='text/javascript', src='javascripts/board.js')

script(type='text/javascript')

  var board = new Board();

  _.each("#{users}".split(','), board.newUser);

  board.set({title: 'Boardello of Awesome' });

  var boardView = new BoardView({
    model: board,
    id: 'boardview-' + board.id
  });

  Networking.start();

