script(type='text/javascript', src='javascripts/users.js')
script(type='text/javascript', src='javascripts/cards.js')
script(type='text/javascript', src='javascripts/board.js')

script(type='text/javascript')
  $(function(){
    var board = new Board();
    board.set({title: 'Boardello of Awesome', me: new User({name: '#{user.name}', id: #{user.id}}) });

    var boardView = new BoardView({ model: board });
    $('body')
      .data('user-id', #{user.id})
      .append(boardView.render().el)
  });
