script(type='text/javascript', src='javascripts/card.js')
script(type='text/javascript', src='javascripts/cards.js')
script(type='text/javascript', src='javascripts/board.js')

script(type='text/javascript')
	var board1 = new Board()
	board1.set({title: 'dan lash'})

	var board1View = new BoardView({
		model: board1,
		id: 'boardview-' + board1.id
	})


p Board!
