img(src='images/logo.png')

form(class='welcome',method='post',action='signup')
  input(type='text',name='username',id='username',placeholder="What's your name, stranger?")
  input(type='submit',value="Cowboy up!")
