!!!
html
  head

    title Boardello of Awesome

    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', data-main='javascripts/main', src='/javascripts/require-jquery.js')

  body!= body
