body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.welcome {
  padding-top: 1.0em;
}
.welcome input[type=text] {
  width: 400px;
  font-size: 20px;
}
.welcome input[type=submit] {
  font-size: 20px;
}
