body {
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.welcome {
  padding-top: 1.0em;

  input[type=text] {
    width: 400px;
    font-size: 20px;
  }

  input[type=submit] {
    font-size: 20px;
  }
}


.board {
  border: 1px solid black;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  > .title {
    text-align: center;
    border-bottom: 1px solid black;
  }
}

.user {
  display: none;
  border: 1px solid red;
  padding: 10px;
  z-index: 1000;
  position: absolute;
}

.card {
  border: 1px solid #C2C2C2;
  background-color: #F7F0BC;
  position: absolute;
  height: 150px;
  width: 250px;
  z-index: 0;
  .tape-left {
    position: absolute;
    background: url(../images/tape-left.png);
    top: -26px;
    left: -29px;
    z-index: 1;
    height: 76px;
    width: 92px;
  }
  .tape-right {
    position: absolute;
    background: url(../images/tape-right.png);
    top: -30px;
    right: -29px;
    z-index: 1;
    height: 76px;
    width: 92px;
  }
}
